@use "../mixins" as *;

.toggle {
  @include size(1.5rem);
  background: linear-gradient(var(--off-black), var(--off-black)) repeat-x 0 10% /
      100% 2px,
    linear-gradient(var(--off-black), var(--off-black)) repeat-x 0 50% / 100%
      2px,
    linear-gradient(var(--off-black), var(--off-black)) repeat-x 0 90% / 100%
      2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  margin: 0;
  position: relative;
  z-index: 1000;
  margin-left: auto;
  transition: background 0.3s ease;
  display: none;

  @media screen and (max-width: 870px) {
    display: inline-block;
  }

  &:checked {
    background: linear-gradient(var(--off-black), var(--off-black)) repeat-x 0
        50% / 100% 2px,
      linear-gradient(var(--off-black), var(--off-black)) repeat-x 0 50% / 100%
        2px,
      linear-gradient(var(--off-black), var(--off-black)) repeat-x 0 50% / 100%
        2px;
  }
}
