<ul class="nav-submenu">
  <li class="nav-submenu__item">
    <a href="#" class="nav-submenu__link">
      <icon src="./images/icon-todo.svg" class="nav-submenu__link-icon"></icon>
      Todo List
    </a>
  </li>
  <li class="nav-submenu__item">
    <a href="#" class="nav-submenu__link">
      <icon
        src="./images/icon-calendar.svg"
        class="nav-submenu__link-icon"
      ></icon>
      Calendar
    </a>
  </li>
  <li class="nav-submenu__item">
    <a href="#" class="nav-submenu__link">
      <icon
        src="./images/icon-reminders.svg"
        class="nav-submenu__link-icon"
      ></icon>
      Reminders
    </a>
  </li>
  <li class="nav-submenu__item">
    <a href="#" class="nav-submenu__link">
      <icon
        src="./images/icon-planning.svg"
        class="nav-submenu__link-icon"
      ></icon>
      Planning
    </a>
  </li>
</ul>
